[Unit]
Description=Maine_Edition_BOREALIS_Cam_Service 
After=network.target
Type=simple

[Service] 
ExecStart=/home/pi/BOREALIS_Cam/start_stream
Restart=always

[Install]
WantedBy=multi-user.target
