[Unit]
Description=Maine_Edition_BOREALIS_Cam1_2024_Service 
After=network.target
Type=simple

[Service] 
ExecStart=/home/pi/BOREALIS_Cam/cam1_start_stream
Restart=always

[Install]
WantedBy=multi-user.target
